.container {
}

.graveyard-footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.graveyard-footer > svg {
  height: 220px;
  stroke: #a5ef8b;
}

.bats-header {
  overflow: hidden;
}

.bats-header > svg {
  height: 100px;
  stroke: #a5ef8b;
}

.filter-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 2%;
}

.favorites-button {
  margin: 10px auto;
  width: 80%;
  padding: 10px 20px;
  background-color: var(--orange);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
}

.categories {
  display: flex;
  justify-content: flex-start;
  gap: 3%;
  position: relative;
}

.categories > div {
  margin: auto;
  width: 80%;
  padding: 10px 20px;
  background-color: var(--orange);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
}

.arrow-down {
  width: 15px;
  margin-left: 2%;
  fill: var(--white);
}

.categories-submenu {
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  width: 86%;
  margin: auto;
  background-color: var(--orange);
  border-radius: 10px;
}

.categories-submenu > div {
  padding: 1%;
  text-decoration: underline;
}

@media only screen and (min-width: 798px) {
  .categories {
    margin: 0 20px;
  }
  .filter-container {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
  }
  .favorites-button {
    width: 38%;
  }
}

@media only screen and (min-width: 1025px) {
}
